[build]
  base = "client"
  publish = "dist"
  command = "pnpm install && pnpm build"

[build.environment]
  NODE_VERSION = "18"
  NPM_FLAGS = "--legacy-peer-deps"

[functions]
  node_bundler = "esbuild"

